* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #333;
}

.app {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

header {
  background: #0d6efd;
  color: white;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
}

nav {
  background: #222;
  padding: 15px;
  margin: 20px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

h2 {
  margin-bottom: 15px;
}

footer {
  background: #0d6efd;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea,
button {
  padding: 10px;
  font-size: 16px;
}

button {
  background: #0d6efd;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #084298;
}


/* Mode sombre */

.dark {
  background-color: #222;
  color: white;
}

.dark section {
  background-color: #333;
  color: white;
}

.dark header,
.dark footer {
  background-color: #111;
}

.dark nav {
  background-color: #000;
}